@use "./var" as *;

.containerofTheNav {
  background: $mainblue !important;

  box-shadow: 5px 15px 12px rgba(17, 17, 17, 0.5);
  display: flex;
  justify-content: space-between;
  // align-items: center;
  .navCard {
    margin: 30px 30px 0 0;
    height: 100%;
    width: 30px;
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center;
    color: white;
    cursor: pointer;

    svg {
      width: 30px;
      height: 30px;
    }

    .cartCount {
      position: absolute;
      top: -10px;
      right: -10px;
      width: 17px;
      height: 17px;
      background-color: $maiOrang;
      color: white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 11px;
    }
  }
  // width: 100%;
  .navbar {
    // background: $mainblue !important;
    width: 100%;
    .navbar-toggler {
      background: $maiwhite;
    }
  }
  .navbar-brand {
    // color: $maiwhite;
    img {
      height: 70px;
      filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 0.8));
    }
  }
  .navbar-nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    // color: red;

    .nav-item {
      width: 100%;
      text-align: center;
      border: 1px solid $maiwhite;
      border-radius: 10px;
      a {
        color: $maiwhite;
        margin: auto;
        text-align: center;
      }
      .dropdown-menu {
        width: inherit;
        border: 1px solid $mainblue;
        a {
          color: $maiwhite;
          margin: auto;
          text-align: center;
        }
      }
    }
  }
  .dropdown-menu a {
    color: $mainblue !important;
    background: inherit;
  }
  .signinBTN {
    margin: auto 10px;
    padding: 8px 20px;
    border: 2px solid $maiwhite;
    border-radius: 20px;
    color: $maiwhite;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-align: center;
    &:hover {
      background: $maiwhite;
      color: $mainblue !important;
    }
  }
}
