@use "./var" as *;

.SignUp {
  padding: 10px 0px;
  .rowCon {
    .firstrowCon {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      img {
        width: 50%;
        height: auto;
      }
    }
    .secondrowCon {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px 5px;
      color: $maiOrang;
      form {
        width: 100% !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 10px;
        padding: 20px 0;
        input {
          width: 100%;
          height: 30px;
          border-radius: 5px;
          border: 1px solid $mainblue;
          outline: none;
          padding: 10px;
        }
        button {
          width: 100%;
          height: 40px;
          border: none;
          border-radius: 5px;
          background-color: $maiOrang;
          color: white;
          font-weight: bold;
          margin: 20px 0;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          &:hover {
            background: $mainblue;
          }
        }
      }
      .haveAccountCon {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        a {
          color: blue !important;
          text-decoration: none;
          margin-left: 7px;
          font-size: 20px;
        }
      }
    }
  }
}
