@use "./var" as *;

* {
  box-sizing: border-box;
  font-family: cursive;
  margin: 0;
  box-sizing: border-box;
}

html {
  color: $mainblue;
  min-height: 100vh !important;
  scroll-behavior: smooth;
  background: $maiwhite;
}

li {
  list-style-type: none;
}

// Mobile Screens
@media (max-width: 767px) {
}
// Small Screens
@media (min-width: 768px) {
}
// Medium Screens
@media (min-width: 992px) {
}
// large Screens
@media (min-width: 1200px) {
}
