@use "./var" as *;

* {
  box-sizing: border-box;
  // font-family: cursive;
  margin: 0;
  box-sizing: border-box;
}

html {
  color: $mainblue;
  min-height: 100vh !important;
  scroll-behavior: smooth;
  background: $maiwhite;
}

li {
  list-style-type: none;
}

// Mobile Screens
@media (max-width: 767px) {
  // navbar Height and padding settings
  .containerofTheNav {
    padding: 10px 5px !important;
  }

  // Ads Height settings
  .offersAdsFather {
    .w-100 {
      height: 450px !important;
    }
  }

  // Card Height settings
  .colConOfCard {
    padding: 50px 20px;
    min-height: 400px;
    .cardImgCon {
      // border: 1px solid yellowgreen;
      height: 400px;
      max-height: 400px;
      width: 70% !important;
      margin: auto;
      img {
        height: 400px;
        width: 97%;
      }
    }
  }
  .TshirtsBigBoxRight {
    height: 250px !important;
  }
}
// Small Screens
@media (min-width: 768px) {
}
// Medium Screens
@media (min-width: 992px) {
}
// large Screens
@media (min-width: 1200px) {
}
