@use "./var" as *;

.containerofTheNav {
  background: $mainblue !important;
  // padding: 20px 10px;
  // filter: drop-shadow(5px 10px 8px rgba(255, 255, 255, 0.2));

  .navbar {
    background: $mainblue !important;
    .navbar-toggler {
      background: $maiwhite;
    }
  }
  .navbar-brand {
    color: $maiwhite;
    img {
      height: 150px;
      filter: drop-shadow(5px 10px 8px rgba(255, 255, 255, 0.2));
    }
  }
  .navbar-nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    // color: red;

    .nav-item {
      width: 100%;
      text-align: center;
      border: 1px solid $maiwhite;
      border-radius: 10px;
      a {
        color: $maiwhite;
        margin: auto;
        text-align: center;
      }
      .dropdown-menu {
        width: inherit;
        border: 1px solid $mainblue;
        a {
          color: $maiwhite;
          margin: auto;
          text-align: center;
        }
      }
    }
  }
  .dropdown-menu a {
    color: $mainblue !important;
    background: inherit;
  }
  .rightH3 {
    color: $maiwhite;
    margin: auto;
  }
}
