@use "./var" as *;

.genralShape {
  margin: 20px 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 8%, 100% 0%, 100% 100%, 0% 92%);

  // .offersAdsFather {
  //   .w-100 {
  //     height: 300px;
  //   }
  // }
}
