// Global vars
$mainblue: #1c1e2b;
$maiwhite: #fdfdfd;
$maiOrang: #ff5d5a;

$darkMode: #002633;
$aquamarine: #82c419;
$aquamarineLight: rgb(203, 243, 189);
$aquamarineDark: rgb(61, 94, 8);
$white: rgb(255, 255, 255);

$redFonte: #c81010;

$mango: #e4a600;
$softBlue: #005881;
