@use "../styles/var" as *;

.cardMother {
  padding: 20px 0;
  text-align: center;
  h1 {
    filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 0.8));
  }
  .rowConOfCard {
    display: flex;
    justify-content: center;
    align-items: center;
    .clConOfCard {
      margin: 10px 0;
      height: 300px;
      // border: 1px solid red;
      display: flex;
      align-items: center;
      justify-content: center;
      // overflow: hidden;
      .cardImgCon {
        height: 80%;
        width: fit-content;
        box-shadow: 5px 15px 15px rgba(17, 17, 17, 0.5);
        img {
          border-radius: 10px 10px 0px 0px;
          border: 1px solid $mainBage;
          border-bottom: none;
          max-width: 100%;
          max-height: 100%;
        }
      }
      .cardlink1,
      .cardlink2,
      .cardlink3,
      .cardlink4 {
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        // width: 70%;
        margin: auto;
        box-shadow: 0px 15px 12px rgba(17, 17, 17, 0.5);
        border: 1px solid $mainBage;
        border-top: none;

        a {
          font-size: 18px;
        }
      }
      .cardlink1 {
        background: $maiOrang;
      }
      .cardlink2 {
        background: $mainblue;
      }
      .cardlink3 {
        background: $mainGreen;
      }
      .cardlink4 {
        background: Gray;
      }
    }
  }
}
