@use "./var" as *;

.topCon {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2px;
  .topSonLeft {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .topSonCenter {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    .brandPicConeR {
      max-height: 100%;
      img {
        height: 40px;
      }
    }
  }
  .topSonRight {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .topSonLeft a {
    svg {
      font-size: 17px;
      color: $mainblue;
    }
  }
}
