@use "./var" as *;

.dynamicPicFather {
  padding: 40px 0;
  hr {
    border: none;
    height: 2px;
    background-color: $maiGray2;
    margin: 20px 0;
  }
  .dynamicPicSon {
    border: 1px solid red;
    .dynaminPicCon {
      width: 100%;
      height: 494px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .frontAndBackCon {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin: 20px 0;
      div {
        padding: 10px 20px;
        border-radius: 10px 10px;
        background: $maiOrang;
        color: $maiGray;
        cursor: pointer;
        min-width: 120px;
        text-align: center;
      }
    }
  }
  .dynamicRightSon {
    border: 2px solid $maiGray;
    border-radius: 15px;
    padding: 10px 5px;
    .designYourOwn {
      padding: 10px 0px;
      font-weight: bold;
      .subjectOf {
        font-size: 25px;
        font-weight: 900;
        color: $maiOrang;
      }
      .designYourOwnSon1 {
        font-size: 20px;
      }
      .designYourOwnSon2 {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 10px 0;
        h4 {
          display: inline;
          margin: auto 0;
          color: $maiOrang;
        }
        p {
          font-size: 15px;
          margin: auto;
          color: $maiGray2;
        }
      }
      .designYourOwnSon3 {
        .selectedColorName {
          font-size: 15px;
          width: 100%;
          text-align: center;
          color: $maiGray2;
        }
        .colorsFather {
          padding: 10px 0;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          .colrSon {
            width: 30px;
            height: 30px;
            border: 1px solid $maiGray2;
            border-radius: 50%;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
      .designYourOwnSon4 {
        padding: 10px 0;
        .sizeSon {
          width: 100%;
          padding: 10px 10%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .sizesName {
            padding: 10px;
          }
          border-bottom: 1px solid $maiGray;
          .sizesConrol {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .increase,
            .decrease {
              padding: 5px;
              font-size: 20px;
              border: 1px solid $maiGray2;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              color: $maiGray2;
              background: inherit;
              transition: background 0.5s;
              cursor: pointer;
              &:hover {
                background: $maiGray2;
                color: white;
              }
            }
            .zero {
              border: 1px solid $maiGray2;
              border-radius: 5px;
              padding: 5px 15px;
              font-size: 15px;
              color: $maiGray2;
              margin: auto 5px;
            }
          }
        }
        .total-price {
          margin-top: 15px;
          padding: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .totalPriceWord {
            color: $maiGray2;
          }
          .totalPriceCurrency {
            color: $maiOrang;
            font-size: 30px;
          }
        }
      }
    }
  }
}
